.home-card {
  flex: 1 !important;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 1px solid #828282;
  border-radius: 10px;
}

.product-card-image-container img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 200px;
}

.favorite-button {
  transition: 0.3s all;
  width: 100%;
  padding: 10px 20px;
  font-size: 19px;
  border: none;
  background: rgb(47, 255, 0);
  color: #fff;
}

.favorite-button.favorited {
  transition: 0.3s all;
  background: rgb(255, 0, 0);
}

.home-card .card-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.home-card-body {
  padding: 10px;
}

.product-name {
  text-align: center;
  font-style: 17px !important;
}

.home-card hr {
  width: 100%;
  border: 1px solid #b9b9b9;
  margin: 7px 0;
}

.add-button {
  transition: 0.3s all;
  width: 100%;
  color: #000000;
  word-break: keep-all !important;
  background: transparent;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
  border: 1px solid #b9b9b9;
  cursor: pointer;
}

.add-button:hover {
  transition: 0.3s all;
  background: #33ff00;
  color: #fff !important;
  border: 1px solid #b9b9b9 !important;
}

.add-button:hover .text-green {
  transition: 0.3s all;
  color: #fff;
}

.text-green {
  color: #33ff00;
}

.hero-category-name {
  margin: 7px 0;
}

.see-btn {
  transition: 0.3s all;
  color: rgb(255, 251, 0);
  background: transparent;
  padding: 15px 30px;
  font-size: 19px;
  letter-spacing: 1.2px;
  font-weight: 500;
  width: 100%;
  border: 1px solid rgb(255, 251, 0);
}

.see-btn:hover {
  background: rgb(255, 251, 0);
  border: none;
  color: #fff;
}

.categories {
  text-align: center !important;
  text-decoration: none;
}

.categories-image {
  margin: 0 50px;
  margin-bottom: 10px;
}

.categories img {
  display: block;
  width: 100%;
  text-align: center !important;
  object-fit: cover;
  border-radius: 50%;
}

.category-name {
  color: #40ff00;
  padding-bottom: 20px;
  font-size: 19px;
  letter-spacing: 1.3px;
  text-transform: capitalize;
}

.add-by-button {
  display: flex !important;
  justify-content: space-between !important;
  transition: 0.3s all !important;
  width: 100% !important;
  color: #000000 !important;
  word-break: keep-all !important;
  background: transparent !important;
  font-size: 17px !important;
  align-items: center;
  border: 1px solid #b9b9b9;
  font-weight: 500 !important;
  border-radius: 0 0 10px 10px !important;
  cursor: pointer !important;
}

.minus-button {
  font-weight: bold;
  width: 20%;
  padding: 10px;
  font-size: 25px;
  background: red;
  border-radius: 0 0 0 10px;
  color: #fff;
}

.plus-button {
  font-weight: bold;
  width: 20%;
  padding: 10px;
  font-size: 25px;
  border-radius: 0 0 10px 0;
  background: greenyellow;
  color: #fff;
}

.ordered-card {
  transition: 0.4s all;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: #fffefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #dedede;
  margin-bottom: 10px;
}
.ordered-card:hover {
  background: #dedede;
}

.ordered-card span,
.ordered-card .ordered-card-action {
  width: 25%;
}

.ordered-card-action {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.ordered-card-action .plus {
  background: rgb(71, 205, 50);
  cursor: pointer;
  user-select: none;
  transition: 0.3s all;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
  letter-spacing: 2px;
}

.ordered-card-action .minus {
  background: rgb(255, 3, 3);
  letter-spacing: 2px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s all;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
}

.ordered-card-action button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.reolad {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #40ff00;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  bottom: 20px;
  right: 40px;
}

.reolad > img {
  filter: invert(100%);
}
@media (max-width: 1180px) {
  .home-card .card-action {
    display: block !important;
  }
  .add-button,
  .favorite-button {
    width: 100%;
    margin: 5px;
  }
}
